.skill-bars .bar {
    margin: 20px 0;
}

.skill-bars .bar:first-child {
    margin-top: 0px;
}

.skill-bars .bar .info {
    margin-bottom: 5px;
}
.skill-bars .bar .info span {
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
    100% {
      opacity: 1;
    }
}
.skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #00FF5F;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.progress-line span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #fff;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #fff;
    color: #000;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
    100% {
        opacity: 1;
    }
}
.bar .progress-line.wordpress span {
    width: 99%;
}
.bar .progress-line.html span {
    width: 99%;
}
.bar .progress-line.css span {
    width: 85%;
}
.bar .progress-line.js span {
    width: 50%;
}
.bar .progress-line.php span {
    width: 33%;
}

.progress-line.wordpress span::after {
    content: "99%";
}
.progress-line.html span::after {
    content: "99%";
}
.progress-line.css span::after {
    content: "85%";
}
.progress-line.js span::after {
    content: "50%";
}
.progress-line.php span::after {
    content: "33%";
}